<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="shareGraphData" type="com.hz.mymoney.ui.models.templates.InvestmentsTemplateData"*/-->
<table id="InvestmentTable" th:fragment="InvestmentTable (investmentsData)"
       class="ui unstackable single line small compact celled table">
    <thead>
    <tr>
        <th>Investment</th>
        <th class="left aligned">Purchased</th>
        <th class="right aligned" th:if="${#strings.contains(header,'Current')}">Quantity</th>
        <th class="right aligned" th:if="${#strings.contains(header,'Current')}">Last Price</th>
        <th class="right aligned big-screen-table">Outlay</th>
        <th class="right aligned big-screen-table">Earnings</th>
        <th class="right aligned big-screen-table">Sales</th>
        <th class="right aligned" th:if="${#strings.contains(header,'Current')}">Market Value</th>
        <th class="right aligned big-screen-table">Profit/Loss</th>
        <th class="right aligned">Annual Return</th>
    </tr>
    </thead>
    <tbody>
    <tr th:unless="${investmentsData.investmentSummaries.isEmpty()}"
        th:each="investment : ${investmentsData.investmentSummaries}">
        <td th:text="${investment.code}" th:attr="data-tooltip = ${investment.hasNote()} ? ${investment.note} : _"></td>
        <td th:text="${#temporals.format(investment.firstPurchase, 'dd MMM yyyy')}"></td>
        <td class="right aligned" th:if="${#strings.contains(header,'Current')}" th:text="${investment.quantity()}"></td>
        <td class="right aligned" th:if="${#strings.contains(header,'Current')}"
            th:text="${#numbers.formatCurrency(investment.lastPrice)}"></td>
        <td class="right aligned big-screen-table" th:text="${#numbers.formatCurrency(investment.costBase)}"></td>
        <td class="right aligned big-screen-table" th:text="${#numbers.formatCurrency(investment.earnings)}"></td>
        <td class="right aligned big-screen-table" th:text="${#numbers.formatCurrency(investment.sales)}"></td>
        <td class="right aligned" th:if="${#strings.contains(header,'Current')}"
            th:text="${#numbers.formatCurrency(investment.balance)}"></td>
        <td th:text="${#numbers.formatCurrency(investment.netProfitLoss)}"
            th:attr="class=${investment.isProfit() ? 'right aligned green big-screen-table' : 'right aligned red big-screen-table'}"></td>
        <td th:text="${#numbers.formatPercent(investment.yearlyReturn,1,2)}"
            th:attr="class=${investment.isProfit() ? 'right aligned green' : 'right aligned red'}"></td>
    </tr>
    <tr th:unless="${investmentsData.investmentSummaries.isEmpty()}">
        <td th:if="${#strings.contains(header,'Current')}"></td>
        <td th:if="${#strings.contains(header,'Current')}"></td>
        <td></td>
        <td class="right aligned big-screen-table" th:if="${#strings.contains(header,'Current')}"><b>Total Outlay</b>
        </td>
        <td class="right aligned blue big-screen-table" th:if="${#strings.contains(header,'Current')}"
            th:text="${#numbers.formatCurrency(investmentsData.getTotalOutlay())}">$0.00
        </td>
        <td th:if="${#strings.contains(header,'Current')}"></td>
        <td class="right aligned big-screen-table" th:unless="${#strings.contains(header,'Current')}"><b>Total
            Outlay</b></td>
        <td class="right aligned blue big-screen-table" th:unless="${#strings.contains(header,'Current')}"
            th:text="${#numbers.formatCurrency(investmentsData.getTotalOutlay())}">$0.00
        </td>
        <td></td>
        <td class="right aligned big-screen-table"><b>Total Profit/Loss</b></td>
        <td class="right aligned blue big-screen-table"
            th:text="${#numbers.formatCurrency(investmentsData.getTotalProfitOrLoss())}">
            $0.00
        </td>
        <td></td>
    </tr>
    </tbody>
</table>

<div id="InvestmentChart" th:fragment="InvestmentChart(investmentsData, header)"
     th:class="${#strings.contains(header,'Current')} ? 'ui two column grid' : 'ui two column grid container'">
    <div th:if="${#strings.contains(header,'Current')}" class="column">
        <div id="investmentsTotalChart" class="chart"></div>
    </div>
    <div th:unless="${#strings.contains(header,'Current')}" class="three wide column"></div>
    <div class="column">
        <div id="marketValueChart" class="chart"
             th:attr="data-chart-data=${investmentsData.getMarketValuesJson()}, data-chart-title=${#strings.contains(header,'Current')?'Market Value':'Net Profit/Loss'}">
        </div>
    </div>
</div>
</body>
</html>