<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/Standard :: layout(header=~{fragments/Common :: AccountsHeader(${accounts})}, content=~{::main}, menucode='Accounts', scripts=~{::script})}" lang="en">
<body>
<main>
    <div th:replace="~{fragments/Account :: AccountsBody(${accounts})}"></div>
    <div class="ui raised segment">
        <canvas id="yearlyIncomeExpenseChart" th:attr="data-chart-data=${incomeExpenseHistory}" style="height: 450px;width: 100%"></canvas>
    </div>
</main>
<script th:inline="javascript" type="text/javascript">
    function onPageLoad() {

        const moneyFmt = new Intl.NumberFormat(undefined, {
            style: 'currency',
            currency: 'AUD',

            minimumFractionDigits: 2, // This suffices for whole numbers, but will
            // print 2500.10 as $2,500.1
            maximumFractionDigits: 2, // Causes 2500.99 to be printed as $2,501
        });

        const ctx = document.getElementById('yearlyIncomeExpenseChart');
        const data = JSON.parse(ctx.dataset.chartData);
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(row => row.financialYear),
                datasets: [
                    {
                        label: 'Income',
                        backgroundColor: '#0080FF',
                        data: data.map(row => row.income)
                    },
                    {
                        label: 'Expenses',
                        backgroundColor: '#FF9900',
                        data: data.map(row => row.expense)
                    },
                    {
                        label: 'Taxes',
                        backgroundColor: '#FF4000',
                        data: data.map(row => row.taxes)
                    }
                ]
            },
            options: {
                categoryPercentage: 0.5,
                scales: {
                    x: {stacked: true, grid: {display: false}},
                    y: {
                        stacked: true,
                        ticks: {
                            color: '#999999', font: {size: 12},
                            callback: function (value, index, ticks) {
                                return moneyFmt.format(value);
                            }
                        }
                    }
                },
                interaction:{ mode:'index', intersect:false },
                plugins: {
                    title: {
                        display: true,
                        text: 'Last 10 Years of Income, Expenses and Taxes',
                        color: '#000000',
                        font: {size: 18}
                    },
                    legend: {
                        position:'bottom'
                    },
                    tooltip: {
                        backgroundColor: '#000000',
                        titleColor: '#FFFFFF',
                        bodyColor: '#BBBBBB',
                        displayColors: true,
                        padding: 10,
                        cornerRadius: 8,
                        callbacks:
                            {
                                label: (context => context.dataset.label + ' : ' + moneyFmt.format(context.parsed.y))
                            }
                        }
                    }
                }
        });
    }
</script>
<link rel="stylesheet" data-th-href="@{/css/default.css}"/>
</body>
</html>