<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/Standard :: layout(header=~{fragments/Common :: InvestmentHeader (${nextDisplayMode}, ${header})}, content=~{::main}, menucode='Investments', scripts=~{::script})}"
      lang="en">
<body>
<main>
    <div th:replace="~{fragments/Investment :: InvestmentTable (${investmentsData})}"></div>
    <div class="ui horizontal divider">Investment Details</div>
    <div th:replace="~{fragments/Investment :: InvestmentChart (${investmentsData}, ${header})}"></div>
</main>
<script th:inline="javascript">
    htmx.onLoad(function updateInvestmentsTotalChart(target) {

        let chartStatus = Chart.getChart("investmentsTotalChart"); // <canvas> id
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }

        const ctx = document.getElementById('investmentsTotalChart');
        const data = /*[[${investmentsData.getInvestmentTotals()}]]*/ [''];

        if (ctx != undefined) {
            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: data.map(row => row.name),
                    datasets: [{
                        data: data.map(row => row.value)
                    }]
                },
                plugins: [ChartDataLabels],
                options: {
                    radius: '70%',
                    responsive: true,
                    plugins: {
                        datalabels: {
                            align: 'end',
                            offset: 65,
                            formatter: function (value, context) {
                                return context.chart.data.labels[context.dataIndex];
                            }
                        },
                        annotation: {
                            annotations: {
                                centerText: {
                                    type: 'label',
                                    xValue: '50%', // X position (50% = center)
                                    yValue: '50%', // Y position (50% = center)
                                    content: 'Investment Totals',
                                    backgroundColor: 'transparent', // No background
                                    color: '#333', // Text color
                                    font: {
                                        size: 20,
                                        weight: 'bold'
                                    },
                                    display: true
                                }
                            }
                        },
                        legend: {
                            display: false
                        },
                    },
                }
            });
        }
    });
</script>
<script th:inline="javascript">
    const moneyFmt = new Intl.NumberFormat(undefined, {
        style: 'currency',
        currency: 'AUD',

        minimumFractionDigits: 2, // This suffices for whole numbers, but will
        // print 2500.10 as $2,500.1
        maximumFractionDigits: 2, // Causes 2500.99 to be printed as $2,501
    });

    htmx.onLoad(function updateMarketValueChart(target) {

        let chartStatus = Chart.getChart("marketValueChart"); // <canvas> id
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }

        const ctx = document.getElementById('marketValueChart');
        const data = JSON.parse(ctx.dataset.chartData);
        const marketValueChartTitle = ctx.dataset.chartTitle;

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: data.map(row => row.name),
                datasets: [{
                    data: data.map(row => row.value)
                }]
            },
            plugins: [ChartDataLabels],
            options: {
                radius: '70%',
                responsive: true,
                plugins: {
                    datalabels: {
                        align: 'end',
                        offset: 65,
                        formatter: function (value, context) {
                            return context.chart.data.labels[context.dataIndex];
                        }
                    },
                    annotation: {
                        annotations: {
                            centerText: { // Unique annotation ID
                                type: 'label', // Annotation type
                                xValue: '50%', // X position (50% = center)
                                yValue: '50%', // Y position (50% = center)
                                content: marketValueChartTitle, // Text content
                                backgroundColor: 'transparent', // No background
                                color: '#333', // Text color
                                font: {
                                    size: 20,
                                    weight: 'bold'
                                },
                                display: true
                            }
                        }
                    },
                    tooltip: {
                        backgroundColor: '#000000',
                        titleColor: '#FFFFFF',
                        bodyColor: '#BBBBBB',
                        displayColors: true,
                        padding: 10,
                        cornerRadius: 8,
                        callbacks:
                            {
                                label: (context => context.chart.data.labels[context.dataIndex] + ' : ' + moneyFmt.format(context.parsed))
                            }
                    },
                    legend: {
                        display: false
                    },
                },
            }
        });
    });
</script>
</body>
</html>