<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/Standard :: layout(header=~{fragments/Common :: PageHeader('Current Assets vs Liabilities')}, content=~{::main}, menucode='NetWorth', scripts=~{::script})}"
      lang="en">
<body>
<main>
    <div class="ui basic segment small-screen">
        <div class="ui four column compact celled grid">
            <div class="row">
                <div class="four wide column"></div>
                <div class="center aligned four wide column">Current</div>
                <div class="center aligned four wide column">Last Year</div>
                <div class="center aligned four wide column">Difference</div>
            </div>
            <div class="row">
                <div class="four wide column">Assets</div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentAssetBalance())}"></div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearAssetBalance())}"></div>
                <div class="right aligned four wide column" th:if="${netWorth.assetDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.assetDifference())}">$0</span><span> <i
                        class="fitted arrow down icon"></i></span></div>
                <div class="right aligned four wide column" th:if="${netWorth.assetDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.assetDifference())}">$0</span><span> <i
                        class="fitted arrow up icon"></i></span></div>
            </div>
            <div class="row">
                <div class="four wide column">Liabilities</div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentLiabilityBalance())}"></div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearLiabilityBalance())}"></div>
                <div class="right aligned four wide column" th:if="${netWorth.liabilityDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.liabilityDifference())}">$0</span><span> <i
                        class="fitted arrow down icon"></i></span></div>
                <div class="right aligned four wide column" th:if="${netWorth.liabilityDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.liabilityDifference())}">$0</span><span> <i
                        class="fitted arrow up icon"></i></span></div>
            </div>
            <div class="row">
                <div class="four wide column">Net Worth</div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentNetPosition())}"></div>
                <div class="right aligned four wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearNetPosition())}"></div>
                <div class="right aligned four wide column" th:if="${netWorth.netWorthDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.netWorthDifference())}">$0</span><span> <i
                        class="fitted arrow down icon"></i></span></div>
                <div class="right aligned four wide column" th:if="${netWorth.netWorthDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.netWorthDifference())}">$0</span><span> <i
                        class="fitted arrow up icon"></i></span></div>
            </div>
        </div>
    </div>
    <div class="ui basic segment big-screen">
        <div class="ui four column celled grid">
            <div class="row">
                <div class="ten wide column"></div>
                <div class="center aligned two wide column">Current</div>
                <div class="center aligned two wide column">Last Year</div>
                <div class="center aligned two wide column">Difference</div>
            </div>
            <div class="row">
                <div class="ten wide column">Assets</div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentAssetBalance())}"></div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearAssetBalance())}"></div>
                <div class="right aligned two wide column" th:if="${netWorth.assetDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.assetDifference())}">$0</span><span> <i
                        class="arrow down icon"></i></span></div>
                <div class="right aligned two wide column" th:if="${netWorth.assetDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.assetDifference())}">$0</span><span> <i
                        class="arrow up icon"></i></span></div>
            </div>
            <div class="row">
                <div class="ten wide column">Liabilities</div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentLiabilityBalance())}"></div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearLiabilityBalance())}"></div>
                <div class="right aligned two wide column" th:if="${netWorth.liabilityDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.liabilityDifference())}">$0</span><span> <i
                        class="arrow down icon"></i></span></div>
                <div class="right aligned two wide column" th:if="${netWorth.liabilityDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.liabilityDifference())}">$0</span><span> <i
                        class="arrow up icon"></i></span></div>
            </div>
            <div class="row">
                <div class="ten wide column">Net Worth</div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getCurrentNetPosition())}"></div>
                <div class="right aligned two wide column"
                     data-th-text="${#numbers.formatCurrency(netWorth.getLastYearNetPosition())}"></div>
                <div class="right aligned two wide column" th:if="${netWorth.netWorthDifference()} lt 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.netWorthDifference())}">$0</span><span> <i
                        class="arrow down icon"></i></span></div>
                <div class="right aligned two wide column" th:if="${netWorth.netWorthDifference()} ge 0"><span
                        data-th-text="${#numbers.formatCurrency(netWorth.netWorthDifference())}">$0</span><span> <i
                        class="arrow up icon"></i></span></div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider"
         data-th-text="|${#temporals.format(netWorth.earliestDate(), 'MMM yyyy')} - ${#temporals.format(netWorth.latestDate(), 'MMM yyyy')}|">
        Graph
    </div>
    <div class="ui basic segment">
        <canvas id="netWorthGraph" style="height: 400px;width: 100%"></canvas>
    </div>
</main>
<script th:inline="javascript" type="text/javascript">
    function onPageLoad() {
        const moneyFmt = new Intl.NumberFormat(undefined, {
            style: 'currency',
            currency: 'AUD',

            minimumFractionDigits: 2, // This suffices for whole numbers, but will
            // print 2500.10 as $2,500.1
            maximumFractionDigits: 2, // Causes 2500.99 to be printed as $2,501
        });

        const ctx = document.getElementById('netWorthGraph');

        var categories = /*[[${netWorth.xAxisLabels()}]]*/ [''];
        var yNetData = /*[[${netWorth.yAxisNetValues()}]]*/ [''];
        var yAssetData = /*[[${netWorth.yAxisAssetValues()}]]*/ [''];
        var yLiabilityData = /*[[${netWorth.yAxisLiabValues()}]]*/ [''];

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: categories,
                datasets:[
                    {
                        label: 'Net Worth',
                        data: yNetData,
                        pointRadius: 0.5,
                        pointHoverRadius:4,
                        borderColor: '#000000',
                        backgroundColor: '#000000',
                        borderWidth: 1
                    },
                    {
                        label: 'Assets',
                        data: yAssetData,
                        pointRadius: 1,
                        pointHoverRadius:4,
                        borderColor: '#00AA00',
                        backgroundColor: '#00FF00',
                        borderWidth: 1,
                        fill: 'origin'
                    },
                    {
                        label: 'Liabilities',
                        data: yLiabilityData,
                        pointRadius: 1,
                        pointHoverRadius:4,
                        borderColor: '#AA0000',
                        backgroundColor: '#FF0000',
                        borderWidth: 1,
                        fill: 'origin'
                    }]
            },
            options: {
                scales:{
                    x: {
                        grid: {display: false},
                        ticks:{ color:'#999999', font:{size:12}, maxTicksLimit:20, maxRotation:0 }
                    },
                    y: {
                        ticks: {
                            color:'#999999', font:{size:12},
                            callback: function(value, index, ticks) {
                                return moneyFmt.format(value);
                            }
                        }
                    }
                },
                interaction:{ mode:'index', intersect:false },
                plugins: {
                    title: {
                        display: true,
                        text:'Net Worth Chart',
                        color:'#000000',
                        font: {size:18}
                    },
                    legend: {
                        position:'bottom'
                    },
                    tooltip:{
                        backgroundColor:'#000000',
                        titleColor:'#FFFFFF',
                        bodyColor:'#BBBBBB',
                        displayColors:true,
                        padding:10,
                        cornerRadius:8,
                        callbacks:{ label:context=> context.dataset.label + ' : ' + moneyFmt.format(context.parsed.y) }
                    }
                },
                elements: {
                    line: {
                        tension : 0.4  // smooth lines
                    },
                },
            },
        });
    }
</script>
<link rel="stylesheet" data-th-href="@{/css/default.css}"/>
</body>
</html>