<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/Standard :: layout(header=~{fragments/Common :: PageHeader('Tax Estimation')}, content=~{::main}, menucode='Tax')}"
      lang="en">
<body>
<main>
    <div class="ui two column divided compact grid">
        <div class="row">
            <div class="column"><h3 class="ui header">Last Financial Year</h3></div>
            <div class="column"><h3 class="ui header">Current Financial Year</h3></div>
        </div>
        <div class="relaxed row">
            <div class="column">
                <div th:replace="~{fragments/Tax :: TaxYear (${taxData.lastYear}, 'last')}"></div>
            </div>
            <div class="column">
                <div th:replace="~{fragments/Tax :: TaxYear (${taxData.currentYear}, 'current')}"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/Tax :: Breakdown (${transactions}, ${totaler})}"></div>
</main>
</body>
</html>