<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/Standard :: layout(header=~{fragments/Common :: PageHeader('Financial Trends')}, content=~{::main}, menucode='Trends', scripts=~{::script})}"
      lang="en">
<body>
<main>
    <form class="ui form" hx-include="#trend-account-input"
          th:attr="hx-get=|@{/trends/account}|"
          hx-trigger="focusout[event.target.matches('input')] from:body" hx-select-oob="#TrendsGraph,#trendsTotal"
          hx-target="#trendPeriodButtons">
        <div class="two fields">
            <div th:replace="~{fragments/Journal :: AccountInputField ('trend-account', 'Account to Track', '', null, false)}"></div>
            <div class="required field" id="trendPeriodButtons" th:with="buttons=${ { '30d', '6m', '1y', '2y', '5y', '10y' } }">
                <label>Trend Period</label>
                <div class="six ui buttons">
                    <input type="hidden" th:value="${activeButton}" name="trendPeriod">
                    <div th:each="button : ${buttons}"
                         th:attr="hx-get=|@{/click/trend-period}?button=${button}|" hx-target="#trendPeriodButtons"
                         hx-select-oob="#TrendsGraph,#trendsTotal"
                         th:class="${activeButton eq button} ? 'ui active button' : 'ui button'" th:text="${button}">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="TrendsGraph" class="ui raised segment">
        <canvas id="trendsGraphCanvas" style="height: 100px;width: 100%"
             th:attr="data-trend-chart=${trendsData.dataSetAsJson()}">
        </canvas>
    </div>
    <div class="ui raised segment">
        <div class="ui center aligned header" id="trendsTotal"
             th:text="|Total ${trendsData.total().formatCurrency()}|">Total $0.00
        </div>
    </div>
</main>
<script>
    const moneyFmt = new Intl.NumberFormat(undefined, {
        style: 'currency',
        currency: 'AUD',

        minimumFractionDigits: 2, // This suffices for whole numbers, but will
        // print 2500.10 as $2,500.1
        maximumFractionDigits: 2, // Causes 2500.99 to be printed as $2,501
    });

    document.body.addEventListener('htmx:afterSwap', function (event) {

        let chartStatus = Chart.getChart("trendsGraphCanvas"); // <canvas> id
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }

        const ctx = document.getElementById('trendsGraphCanvas');
        const data = JSON.parse(ctx.dataset.trendChart);
        const account = document.getElementById('trend-account-input').value;
        if (ctx != undefined) {
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.map(row => row.name),
                    datasets: [
                        {
                            label: account,
                            backgroundColor: '#00FF00',
                            data: data.map(row => row.value)
                        }]
                },
            });
        }
    })
</script>
</body>
</html>